tbody tr:hover{
    background: rgba(217, 0, 255, 0.08);
}

.search-bar {
    background: url('../../../assets/icons/clarity_search-line.svg') no-repeat left 1rem center/14px;
    width: 100%;
    height:40px;
}
.add-btn {
    background: #632A6D url('../../../assets/icons/plus.svg') no-repeat left 1rem center/14px;
}
select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url('../../../assets/ArrowDownFilled.svg') no-repeat right 0.3rem center/14px 4px
}

#last_name svg {
    margin-top: 4px;
}

.checked {
    background: rgba(217, 0, 255, 0.08);
}

.tab-container {
    position: relative;
}