tbody tr:hover{
    background: rgba(217, 0, 255, 0.08);
}

.search-bar {
    background: url('../../../assets/icons/clarity_search-line.svg') no-repeat left 1rem center/14px;
    width: 276px;
}
.add-btn {
    background: #632A6D url('../../../assets/icons/plus.svg') no-repeat left 1rem center/14px;
}
select {
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background: url('../../../assets/ArrowDownFilled.svg') no-repeat right 0.3rem center/14px 4px
}

svg {
    display: inline;
}

input[type="date"]:focus:before,

  input[type="date"]:valid:before {

    content: "Created" !important;

}

.checked {
    background: rgba(217, 0, 255, 0.08);
}

.tab-container {
    position: relative;
}

.tab::after {
    content: "";
    height: 4px;
    position: absolute;
    background: #632A6D;
    bottom: 0;
}

.tab-0::after{
    width: 64px;
}

.tab-1::after{
    width: 64px;
    left: 105px;
}
.tab-2::after{
    width: 64px;
    left: 198px;
}
.tab-3::after{
    width: 64px;
    left: 295px;
}